.list-item {
  margin-bottom: 12px;
  // position: absolute;
  // overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.list-item:last-of-type {
  margin-bottom: 0;
}

.menu-list-item {
  margin-left: auto;
  align-items: center;
  padding: 0 16px 0 8px;
  cursor: pointer;
}

.item-view.open {
  height: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  // background-color: green;
  transition: opacity 1.5s ease-in,
    height 1.5s ease-in,
    background-color 1.5s;
}
.item-view.close {
  visibility: hidden;
  opacity: 0;
  height: 0%;
  display: none;
  // background-color: blue;
  // transition: opacity 1.5s ease-out,
  //   opacity 1.5s ease-out,
  //   height 1.5s linear,
  //   background-color 1.5s;
  // transition: height 3s ease-out;
  // transition: background-color 3s ease-out;
  // transition: visibility 0.5s 0.5s, opacity 0.5s ease-out;
}
