$background-color: var(--bg-primary);
$active-bg: var(--active-bg);
$text-color: var(--text-color);
$active-color: var(--active-color);
$nav-height: var(--nav-height);
$sidebar-width: var(--sidebar-width);
$sidebar-width-open: var(--sidebar-width-open);
$hover-color: var(--hover-color);
$hover-bg: var(--hover-bg);

.profile {
  font-family: "Open Sans", sans-serif;
  color: $text-color;
}

.profile-info-container {
  flex: 3;
  align-items: center;
  display: flex;
}

.profile-info-content {
  font-weight: bold;
  text-transform: uppercase;
  flex-direction: column;
}

.profile-info-title {
  margin: 0;
  font-size: 36px;
}

.profile-info-subtitle {
  margin: 0;
  font-size: 24px;
}

.profile-photo-container {
  flex: 1;
}

.profile-photo-content {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  height: 86px;
  border-radius: 50%;
  object-fit: fill;
  border: solid 4px white;
}

.profile-contact-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 8px 0 8px 0;
}

.profile-contact-item span {
  margin: 8px;
  // flex: 0;
}

.profile-contact-item span a {
  color: white;
  text-decoration: none;
  // flex: 0;
}

.width-sidebar {
  position: absolute;
  right: 0;
  top: 8px;
  width: calc(#{$sidebar-width} - 2px);
  &.open {
    width: calc(#{$sidebar-width-open} - 2px);
  }
  &.close {
    width: calc(#{$sidebar-width} - 2px);
  }
}