$background-color: rgba(45, 45, 45, 1);
$text-color: rgb(170, 170, 170);
$active-color: white;
$nav-height: 54px;

.sidebar {
  position: absolute;
  left: 0;
  top: var(--nav-height);
  height: calc(100% - var(--nav-height));
  background-color: $background-color;
  .item {
    color: $text-color;
    font-weight: 100;
    height: 60px;
    .active {
      color: $active-color;
    }
    .icon {
      font-size: 24px;
    }
    .text {
      font-size: 12px;
    }
  }
  .item:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.5);
  }
  &.open {
    width: 500px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
  }
  &.close {
    width: 72px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
  }
}
