$background-color: var(--bg-primary);
$active-bg: var(--active-bg);
$text-color: var(--text-color);
$active-color: var(--active-color);
$nav-height: var(--nav-height);
$bar-width: var(--sidebar-width);
$hover-color: var(--hover-color);
$hover-bg: var(--hover-bg);

.sidebar {
  position: absolute;
  width: $bar-width;
  top: $nav-height;
  height: calc(100vh - #{$nav-height});
  background-color: $background-color;
  z-index: var(--z-index-sidebar);
  color: $text-color;

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  .item {
    font-weight: 100;
    height: 60px;
    .icon {
      font-size: 24px;
    }
    .text {
      font-size: 12px;
    }
    &.active {
      // color: $hover-color;
      background-color: $hover-bg;
    }
    &:not(.active):hover {
      cursor: pointer;
      background-color: $active-bg;
    }
  }
  &.open {
    width: 500px;
    -webkit-transition: width 0.4s ease-in; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s;
  }
  &.close {
    width: 72px;
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s ease-out;
  }
}
